{% for child in tree.children recursive %}
    {%- if child.children -%}
        {{ loop(child.children) }}
    {%- else -%}
        {% if child.data is defined and child.data is not none and child.data|length > 5 %}
            {% if child.tag_name == "text" -%}
                {{ child.data | wordwrap(width) }}
            {% elif child.tag_name == "img" and img_flag -%}
                {{'\n'}}{{child.src}}
            {% else -%}
                {{ child.data | wordwrap(width) }}
            {%- endif %}
        {%- endif -%}
    {%- endif -%}
{% endfor %}